@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ggiq64');
  src:  url('fonts/icomoon.eot?ggiq64#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ggiq64') format('truetype'),
    url('fonts/icomoon.woff?ggiq64') format('woff'),
    url('fonts/icomoon.svg?ggiq64#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}

body{
    background-color: #D7D1BB;
   
    .upi {
      // border: solid red 1px;
      display: flex;
      margin: 0;
      padding: 0;
      .utanum1{
        
        display: flex;
        width: 25%;
        justify-content: space-evenly;        
        // border: 1px solid black;
        div{
          display: flex;
          color: rgba(230, 18, 177, 0.637);
          font-size: 30px;
          font-weight: bold;
          padding: 0px 10px;
          // border: green solid 1px;
        }
      }  

      .utanum2{
        
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        
        // border: 1px solid black;
        .ut{
          
          font-size: 130%;
          font-weight: bold;
          
          // border: green solid 1px;
          
        }
      } 
      .ut:hover{
        cursor: pointer;
        background-image: linear-gradient(to left, rgb(196, 192, 179), #D7D1BB) ;
      }  
      .ut{
        
        img{
          margin: 2px;
          
          height: auto;
          width: auto ;
        }

        display: flex;
       
      }
    
    
    .botom{
        width: 100%;
        column-count: 3;
    }
}

.kassi{
  background-color: rgb(184, 182, 182);
  display: grid;  
  font-size: 100%;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  align-items: center;  
  margin: 5px;
  border: black solid 3px;
  display: flex;
  justify-content: center;
  
}

a{
  color: rgb(12, 11, 11);  
}

img{
  width: 50%;
}

.cardd {
  width: 25%;
}

.efripartur{
  .efragrid{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;   
    
  }
  
 
}





img {
    width: 100%;
       
}
@media only screen and (max-width: 1000px) {
    .cardd {
      width: 25%;
    }
  }

  @media only screen and (max-width: 800px) {
    .cardd {
      width: 50%;
    }
  }
}
 
#bretti {
  height: 500px;
  size: 50px;
}

#isk-kr{
  animation: kr 1s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-direction: alternate;
}

#skor {
  animation: sko 2s ease infinite ;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;
  
}

div.slide-right{
  width: 110%;
  overflow: hidden;
}
div.slide-right h1{
  
  animation: 5s slide-right infinite alternate;
  background-color: rgb(209, 41, 41);
  border-radius: 15px;
  border: black solid 2px;

}
@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 5%;
    width: 100%;
  }
}











@keyframes kr{
  from{        
      transform: scale(0.5) translateY(-100%);
  }
  to{
      transform: scale(1) translateY(0%);         
  }
}

@keyframes sko{
  from{
      transform:rotate(-10deg);
  }
  to{
      transform:rotate(10deg)
  }
}

#snow{    
  animation: kr 1s ease infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-direction: alternate;
}

#orn {
  animation: sko 2s ease infinite ;
  animation-direction: alternate;
  transform-origin: center;
  transform-box: fill-box;    
}

#poop {
  animation: shake 2s;  
  animation-iteration-count: infinite;
}


@keyframes kr{
from{
    transform: scale(0.9) translateY(-5%) rotate(-5deg);
}
to{
    transform: scale(1) translateY(0%) rotate(0deg);
}
}

@keyframes sko{
from{
    transform:rotate(-10deg);
}
to{
    transform:rotate(10deg);
}
}




@keyframes shake {
  0% { transform: translate(-10px, 50px) rotate(1deg);}
  10% { transform: translate(-200px, -100px) rotate(-10deg); }
   
  
}
.drop{
  
  display: none;
  position: absolute;
  right: 10px;
}


@media only screen and (max-width: 48em) {
  body {
    background-color: lightblue;
  }
  .utanum2{
    position: absolute;
    left: -1000px;
  }  
  
 .burger {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  
}
.listi{
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: white ;
}
.drop{
  display: flex;
  flex-direction: column;
}
.utanum3{
  display: block;
}
.utanum3 :hover{
  background: green;  
}

.listi :active{  
  
   animation: example 5s;
  
}


}

@keyframes example {
  from{        
    transform: scale(0.5) translatex(100px);
}
  to{
    transform: scale(1) translatex(0px);         
}
}



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html {
  font-family: "helvetica neue", sans-serif;
}

.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}


label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}


.nav{
  
  display: none;
 
}
  


@media only screen and (max-width: 48em) {
  
 .nav{
   display: contents;  
   
  }
  
    
    
  
  label {
      display: block;
      cursor: pointer;
  }
  .menu {
      background-color: red;
      position: absolute;
      right: -30px;
      top: 0px;
      text-align: center;
      width: 30%;
      display: none;
  }
  .menu a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0;
   
  }
  #toggle:checked + .menu {
      display: block;
  }
  
}










