@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ggiq64");
  src: url("fonts/icomoon.eot?ggiq64#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ggiq64") format("truetype"), url("fonts/icomoon.woff?ggiq64") format("woff"), url("fonts/icomoon.svg?ggiq64#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spoon-knife:before {
  content: "\e9a3";
}

.icon-leaf:before {
  content: "\e9a4";
}

.icon-fire:before {
  content: "\e9a9";
}

.icon-power:before {
  content: "\e9b5";
}

.icon-terminal:before {
  content: "\ea81";
}

.icon-google2:before {
  content: "\ea89";
}

.icon-facebook2:before {
  content: "\ea91";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-steam:before {
  content: "\eaac";
}

.icon-appleinc:before {
  content: "\eabe";
}

.icon-skype:before {
  content: "\eac5";
}

.icon-reddit:before {
  content: "\eac6";
}

body {
  background-color: #D7D1BB;
}

body .upi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

body .upi .utanum1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .upi .utanum1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(230, 18, 177, 0.637);
  font-size: 30px;
  font-weight: bold;
  padding: 0px 10px;
}

body .upi .utanum2 {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .upi .utanum2 .ut {
  font-size: 130%;
  font-weight: bold;
}

body .upi .ut:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, right top, left top, from(#c4c0b3), to(#D7D1BB));
  background-image: linear-gradient(to left, #c4c0b3, #D7D1BB);
}

body .upi .ut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .upi .ut img {
  margin: 2px;
  height: auto;
  width: auto;
}

body .upi .botom {
  width: 100%;
  -webkit-column-count: 3;
          column-count: 3;
}

body .kassi {
  background-color: #b8b6b6;
  display: -ms-grid;
  display: grid;
  font-size: 100%;
  width: 110%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  border: black solid 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body a {
  color: #0c0b0b;
}

body img {
  width: 50%;
}

body .cardd {
  width: 25%;
}

body .efripartur .efragrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  body .cardd {
    width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  body .cardd {
    width: 50%;
  }
}

#bretti {
  height: 500px;
  size: 50px;
}

#isk-kr {
  -webkit-animation: kr 1s ease infinite;
          animation: kr 1s ease infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

#skor {
  -webkit-animation: sko 2s ease infinite;
          animation: sko 2s ease infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

div.slide-right {
  width: 110%;
  overflow: hidden;
}

div.slide-right h1 {
  -webkit-animation: 5s slide-right infinite alternate;
          animation: 5s slide-right infinite alternate;
  background-color: #d12929;
  border-radius: 15px;
  border: black solid 2px;
}

@-webkit-keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 5%;
    width: 100%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 5%;
    width: 100%;
  }
}

@-webkit-keyframes kr {
  from {
    -webkit-transform: scale(0.5) translateY(-100%);
            transform: scale(0.5) translateY(-100%);
  }
  to {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
  }
}

@keyframes kr {
  from {
    -webkit-transform: scale(0.5) translateY(-100%);
            transform: scale(0.5) translateY(-100%);
  }
  to {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
  }
}

@-webkit-keyframes sko {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes sko {
  from {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
/*# sourceMappingURL=style.css.map */